<section class="fanclub-sec fanclub-sec--keyvisual">
  <div class="fanclub-sec--keyvisual__inner">
    <h2 class="fanclub-sec--keyvisual__inner__title">CAMPFIRE ファンクラブ</h2>
    <p class="fanclub-sec--keyvisual__inner__text">『CAMPFIREファンクラブ』は、ミュージシャン・アーティスト・伝統工芸家・アクセサリー作家・イラストレーター・エッセイスト・スポーツ選手・農産物生産者・NPO団体など、様々な分野で活躍されているクリエイターが、ファンと繋がることで創作活動のための資金が獲得できるサービスです。ファンクラブは、誰にでも無料で作成可能。もちろん、あなたにも。
    <div class="fanclub-sec--keyvisual__inner__button">
      <a href="/" class="button red">ファンクラブを開設する</a>
      <a href="/" class="button">ファンクラブをさがす</a>
    </div>
    <div class="fanclub-sec--keyvisual__inner__sns">
      <a href="/" class="sns-item sns-item--facebook"></a>
      <a href="/" class="sns-item sns-item--twitter"></a>
      <a href="/" class="sns-item sns-item--line"></a>
    </div>
</p>
  </div>
</section>
<section class="fanclub-sec fanclub-sec--cards">
  <div class="fanclub-sec__inner">
    <header class="titlebox">
      <h2 class="titlebox__title">おすすめのファンクラブ</h2>
      <a href="/" class="titlebox__link">もっと見る</a>
    </header>
    <div class="fanclub-cards fanclub-cards--3">
      <div class="fanclub-card">
        <a href="/" class="fanclub-card__inner">
          <div class="fanclub-card__inner__thumbnail">
            <img src="https://cdn.camp-fire.jp/media/filter/l/img/5a783bbf-8d1c-4a05-b637-52570aba8295.png">
          </div>
          <div class="fanclub-card__inner__body">
            <div class="fanclub-card__inner__body__title">
              箕輪編集室
            </div>
            <!-- <div class="fanclub-card__inner__body__description">デスクリプション</div> -->
            <div class="fanclub-card__inner__body__name">
              naminoue
            </div>
          </div>
        </a>
      </div>
      <div class="fanclub-card">
        <a href="/" class="fanclub-card__inner">
          <div class="fanclub-card__inner__thumbnail">
            <img src="https://cdn.camp-fire.jp/media/filter/l/img/5a9ce7bf-3efc-48f0-9459-33b90ab91ef9.png">
          </div>
          <div class="fanclub-card__inner__body">
            <div class="fanclub-card__inner__body__title">
              PLANETS CLUB　宇野常寛と「価値」をつくるコミュニティ
            </div>
            <!-- <div class="fanclub-card__inner__body__description">デスクリプション</div> -->
            <div class="fanclub-card__inner__body__name">
              PLANETS
            </div>
          </div>
        </a>
      </div>
      <div class="fanclub-card">
        <a href="/" class="fanclub-card__inner">
          <div class="fanclub-card__inner__thumbnail">
            <img src="https://cdn.camp-fire.jp/media/filter/l/img/5ab99339-caf0-4d3b-b611-11970aae96cd.png">
          </div>
          <div class="fanclub-card__inner__body">
            <div class="fanclub-card__inner__body__title">
              #はあちゅうサロン
            </div>
            <!-- <div class="fanclub-card__inner__body__description">デスクリプション</div> -->
            <div class="fanclub-card__inner__body__name">
              hachu122
            </div>
          </div>
        </a>
      </div>
      <div class="fanclub-card">
        <a href="/" class="fanclub-card__inner">
          <div class="fanclub-card__inner__thumbnail">
            <img src="https://cdn.camp-fire.jp/media/filter/l/img/5ad099a4-7084-438e-a500-26440ab91ef9.png">
          </div>
          <div class="fanclub-card__inner__body">
            <div class="fanclub-card__inner__body__title">
              NPO未来ラボ
            </div>
            <!-- <div class="fanclub-card__inner__body__description">デスクリプション</div> -->
            <div class="fanclub-card__inner__body__name">
              Noriaki Imai
            </div>
          </div>
        </a>
      </div>
      <div class="fanclub-card">
        <a href="/" class="fanclub-card__inner">
          <div class="fanclub-card__inner__thumbnail">
            <img src="https://cdn.camp-fire.jp/media/filter/l/img/5a5574b7-0990-4ed8-864d-7a490aba16f5.png">
          </div>
          <div class="fanclub-card__inner__body">
            <div class="fanclub-card__inner__body__title">
              -全国に生歌を届けたい-シンガーソングライターBEBEを応援！
            </div>
            <!-- <div class="fanclub-card__inner__body__description">デスクリプション</div> -->
            <div class="fanclub-card__inner__body__name">
              Singer BEBE
            </div>
          </div>
        </a>
      </div>
      <div class="fanclub-card">
        <a href="/" class="fanclub-card__inner">
          <div class="fanclub-card__inner__thumbnail">
            <img src="https://cdn.camp-fire.jp/media/filter/l/img/5ab35a84-15dc-43da-84ae-14790aba8295.png">
          </div>
          <div class="fanclub-card__inner__body">
            <div class="fanclub-card__inner__body__title">
              タイトルタイトルタイトルタイトルタイトルタイトルタイトル
            </div>
            <!-- <div class="fanclub-card__inner__body__description">デスクリプション</div> -->
            <div class="fanclub-card__inner__body__name">
              ユーザーネームユーザーネーム
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="fanclub-sec fanclub-sec--cards">
  <div class="fanclub-sec__inner">
    <header class="titlebox">
      <h2 class="titlebox__title">新着のファンクラブ</h2>
      <a href="/" class="titlebox__link">もっと見る</a>
    </header>
    <div class="fanclub-cards fanclub-cards--4">
      <div class="fanclub-card">
        <a href="/" class="fanclub-card__inner">
          <div class="fanclub-card__inner__thumbnail">
            <img src="https://cdn.camp-fire.jp/media/filter/l/img/5a783bbf-8d1c-4a05-b637-52570aba8295.png">
          </div>
          <div class="fanclub-card__inner__body">
            <div class="fanclub-card__inner__body__title">
              箕輪編集室
            </div>
            <!-- <div class="fanclub-card__inner__body__description">デスクリプション</div> -->
            <div class="fanclub-card__inner__body__name">
              naminoue
            </div>
          </div>
        </a>
      </div>
      <div class="fanclub-card">
        <a href="/" class="fanclub-card__inner">
          <div class="fanclub-card__inner__thumbnail">
            <img src="https://cdn.camp-fire.jp/media/filter/l/img/5a9ce7bf-3efc-48f0-9459-33b90ab91ef9.png">
          </div>
          <div class="fanclub-card__inner__body">
            <div class="fanclub-card__inner__body__title">
              PLANETS CLUB　宇野常寛と「価値」をつくるコミュニティ
            </div>
            <!-- <div class="fanclub-card__inner__body__description">デスクリプション</div> -->
            <div class="fanclub-card__inner__body__name">
              PLANETS
            </div>
          </div>
        </a>
      </div>
      <div class="fanclub-card">
        <a href="/" class="fanclub-card__inner">
          <div class="fanclub-card__inner__thumbnail">
            <img src="https://cdn.camp-fire.jp/media/filter/l/img/5ab99339-caf0-4d3b-b611-11970aae96cd.png">
          </div>
          <div class="fanclub-card__inner__body">
            <div class="fanclub-card__inner__body__title">
              #はあちゅうサロン
            </div>
            <!-- <div class="fanclub-card__inner__body__description">デスクリプション</div> -->
            <div class="fanclub-card__inner__body__name">
              hachu122
            </div>
          </div>
        </a>
      </div>
      <div class="fanclub-card">
        <a href="/" class="fanclub-card__inner">
          <div class="fanclub-card__inner__thumbnail">
            <img src="https://cdn.camp-fire.jp/media/filter/l/img/5ad099a4-7084-438e-a500-26440ab91ef9.png">
          </div>
          <div class="fanclub-card__inner__body">
            <div class="fanclub-card__inner__body__title">
              NPO未来ラボ
            </div>
            <!-- <div class="fanclub-card__inner__body__description">デスクリプション</div> -->
            <div class="fanclub-card__inner__body__name">
              Noriaki Imai
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="fanclub-sec fanclub-sec--cards">
  <div class="fanclub-sec__inner">
    <header class="titlebox">
      <h2 class="titlebox__title">人気のファンクラブ</h2>
      <a href="/" class="titlebox__link">もっと見る</a>
    </header>
    <div class="fanclub-cards fanclub-cards--4">
      <div class="fanclub-card">
        <a href="/" class="fanclub-card__inner">
          <div class="fanclub-card__inner__thumbnail">
            <img src="https://cdn.camp-fire.jp/media/filter/l/img/5a783bbf-8d1c-4a05-b637-52570aba8295.png">
          </div>
          <div class="fanclub-card__inner__body">
            <div class="fanclub-card__inner__body__title">
              箕輪編集室
            </div>
            <!-- <div class="fanclub-card__inner__body__description">デスクリプション</div> -->
            <div class="fanclub-card__inner__body__name">
              naminoue
            </div>
          </div>
        </a>
      </div>
      <div class="fanclub-card">
        <a href="/" class="fanclub-card__inner">
          <div class="fanclub-card__inner__thumbnail">
            <img src="https://cdn.camp-fire.jp/media/filter/l/img/5a9ce7bf-3efc-48f0-9459-33b90ab91ef9.png">
          </div>
          <div class="fanclub-card__inner__body">
            <div class="fanclub-card__inner__body__title">
              PLANETS CLUB　宇野常寛と「価値」をつくるコミュニティ
            </div>
            <!-- <div class="fanclub-card__inner__body__description">デスクリプション</div> -->
            <div class="fanclub-card__inner__body__name">
              PLANETS
            </div>
          </div>
        </a>
      </div>
      <div class="fanclub-card">
        <a href="/" class="fanclub-card__inner">
          <div class="fanclub-card__inner__thumbnail">
            <img src="https://cdn.camp-fire.jp/media/filter/l/img/5ab99339-caf0-4d3b-b611-11970aae96cd.png">
          </div>
          <div class="fanclub-card__inner__body">
            <div class="fanclub-card__inner__body__title">
              #はあちゅうサロン
            </div>
            <!-- <div class="fanclub-card__inner__body__description">デスクリプション</div> -->
            <div class="fanclub-card__inner__body__name">
              hachu122
            </div>
          </div>
        </a>
      </div>
      <div class="fanclub-card">
        <a href="/" class="fanclub-card__inner">
          <div class="fanclub-card__inner__thumbnail">
            <img src="https://cdn.camp-fire.jp/media/filter/l/img/5ad099a4-7084-438e-a500-26440ab91ef9.png">
          </div>
          <div class="fanclub-card__inner__body">
            <div class="fanclub-card__inner__body__title">
              NPO未来ラボ
            </div>
            <!-- <div class="fanclub-card__inner__body__description">デスクリプション</div> -->
            <div class="fanclub-card__inner__body__name">
              Noriaki Imai
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<section class="fanclub-sec fanclub-sec--activity">
  <div class="fanclub-sec__inner">
    <header class="titlebox">
      <h2 class="titlebox__title">活動報告</h2>
      <a href="/" class="titlebox__link">もっと見る</a>
    </header>
    <div class="fanclub-cards">
      <div class="fanclub-card--activity">
        <a href="/" class="fanclub-card--activity__inner">
          <div class="fanclub-card--activity__inner__profile">
            <img src="https://pbs.twimg.com/profile_images/988325613231521792/0C8l6ool.jpg">
          </div>
          <div class="fanclub-card--activity__inner__body">
            <span class="fanclub-card--activity__inner__body__name">
              hachu122
            </span>
            <span class="fanclub-card--activity__inner__body__date">
              06/04 08:43
            </span>
            <div class="fanclub-card--activity__inner__body__title">
              大阪あべのSibuya109Abeno限定デザイン
            </div>
            <div class="fanclub-card--activity__inner__body__description">
              ささきでございます。本日から開店いたしました大阪のショップ「ビーサイドレーベルSibuya109Abenoポップアップストア」にてのみ販売予定の限定デザイン1案描かせていただいてます！
            </div>
          </div>
        </a>
      </div>
      <div class="fanclub-card--activity">
        <a href="/" class="fanclub-card--activity__inner">
          <div class="fanclub-card--activity__inner__profile">
            <img src="https://cdn.camp-fire.jp/media/filter/my/img/5ac1f812-6560-4351-b151-396b0aae07a2.png">
          </div>
          <div class="fanclub-card--activity__inner__body">
            <span class="fanclub-card--activity__inner__body__name">
              hachu122
            </span>
            <span class="fanclub-card--activity__inner__body__date">
              06/04 08:43
            </span>
            <div class="fanclub-card--activity__inner__body__title">
              6/22　沖縄女子大生、メムにいった、謎食事会、家庭教師、ジム、動画編集とか
            </div>
            <div class="fanclub-card--activity__inner__body__only-patron">
              パトロン限定の公開
            </div>
          </div>
        </a>
      </div>
      <div class="fanclub-card--activity">
        <a href="/" class="fanclub-card--activity__inner">
          <div class="fanclub-card--activity__inner__profile">
            <img src="https://cdn.camp-fire.jp/media/filter/my/img/58a303a6-6eac-4751-b06f-62130abc8a10.png">
          </div>
          <div class="fanclub-card--activity__inner__body">
            <span class="fanclub-card--activity__inner__body__name">
              hachu122
            </span>
            <span class="fanclub-card--activity__inner__body__date">
              06/04 08:43
            </span>
            <div class="fanclub-card--activity__inner__body__title">
              ゆったりご飯会
            </div>
            <div class="fanclub-card--activity__inner__body__description">
              久しぶりにママと１対１でご飯を食べに行きました。ゆったりとご飯を食べながら、最近の仕事のこと、子どもたちのこと、はまっていることなどをゆるやかに話してくれました。特にはまっていることに関して、いきいきと話してくれました。
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<section class="fanclub-sec fanclub-sec--banner">
  <div class="fanclub-sec--banner__inner">
    <h2 class="fanclub-sec--banner__inner__title">CAMPFIREファンクラブを開設する</h2>
    <p class="fanclub-sec--banner__inner__text">『CAMPFIREファンクラブ』は、ミュージシャン・アーティスト・伝統工芸家・アクセサリー作家・イラストレーター・エッセイスト・スポーツ選手・農産物生産者・NPO団体など、様々な分野で活躍されているクリエイターが、ファンと繋がることで創作活動のための資金が獲得できるサービスです。ファンクラブは、誰にでも無料で作成可能。もちろん、あなたにも。
    <div class="fanclub-sec--banner__inner__button">
      <a href="/" class="button red">ファンクラブを開設する</a>
    </div>
  </div>
</section>
