<% works.each do |work| %>
  <div class="card fadein">
    <%= link_to("/works/#{work.id}") do %>
      <div class="inner">
        <figure class="image"><%= image_tag work.image.to_s %></figure>
        <h3 class="title"><%= work.title %></h3>
        <p class="sub"><%= work.category == "ui_ux" ? "UI/UX" : work.category %></p>
      </div>
    <% end %>
  </div>
<% end %>
