<div class="form-container">
  <%= form_tag("/users/#{@user.id}/update") do %>
    <label>ユーザーID</label>
    <input type="text" name="name" value="<%= @user.name %>">
    <label>パスワード</label>
    <input type="password" name="password" value="<%= @user.password %>">
    <label>管理者権限</label>
    <%= check_box 'user_type', 'admin', {checked: @user.user_type}, 'true', 'false' %>
    <button type="submit">保存</button>
  <% end %>
</div>
