<div class="admin-action">
  <%= link_to("/users/new") do %><span>追加</span><% end %>
</div>
<% @users.each do |user| %>
  <div>
    <%= link_to("/users/#{user.id}") do %>
      <p><%= user.name %></p>
    <% end %>
  </div>
<% end %>
