<div class="admin-action">
  <%= link_to("/users/#{@user.id}/edit") do %><span>編集</span><% end %>
  <%= link_to("/users/#{@user.id}/destroy", {method: :post}) do %><span>削除</span><% end %>
</div>

<h1><%= @user.name %></h1>
<p><%= @user.password %></p>
