<% content_for :page_title do%>
  <div class="top-keyvisual">
    <div class="top-keyvisual-icon">
      <img src="<%= asset_pack_path 'images/portfolio_logo.svg' %>" alt="" class="logo">
      <div class="logo_shadow"></div>
    </div>
  </div>
<% end %>

<section class="top-block about fadein">
  <div>
    <h2>紙モノ・webのデザインをしたり、コードも書いたりしてます。</h2>
    <p>いままでDTP・エディトリアルデザインからはじまり、webデザインにも挑戦するため、HTMLとCSSの勉強をはじめ、今ではJavaScriptやRailsも触ったりしています。これまでの制作してきた実績の一部を本サイトにまとめました。</p>
  </div>
</section>

<div class="card--container full-size">
  <%= render "share/cards", works: @works %>
</div>

<div class="top-button">
  <%= link_to("もっと見る", "/works", class: 'button fadein') %>
</div>
