<% content_for :page_title do%>
  <div class="top-keyvisual">
    <h1>
      <span class="profile-title" id="profile-title"></span>
    </h1>
    <div class="profile-box" id="profile-box">
      <div class="box-image"></div>
      <div class="box-illust"></div>
      <div class="box-bar1"><div class="inner"></div></div>
      <div class="box-bar2"><div class="inner"></div></div>
      <div class="box-bar3"><div class="inner"></div></div>
    </div>
  </div>
<% end %>

<section class="top-block about fadein">
  <div>
    <h2>デザイナー。コードも最近書いてます。</h2>
    <p>いままでエディトリアルデザインからはじまり、webデザインにも挑戦するため、HTML/CSSを勉強sはじめました。今ではJavaScriptやRailsを軽く触ったりしています。これからはユーザーファーストなデザインはもちろんエンジニアリングも意識したデザインをしていきたいです。</p>
  </div>
</section>

<section class="top-block notes fadein">
  <div class="left">
    <h2>notes</h2>
  </div>
  <div class="right">
    <h3>感じたこと学んだことを残す</h3>
    <p>デザインやプログラミングで気になった話題であったり、発見したこと身につけたことを記録できるようにしました。</p>
    <%= link_to("ノートを見る","/notes", class: "button") %>
  </div>
</section>

<section class="top-block works fadein">
  <div class="left">
    <h2>works</h2>
  </div>
  <div class="right">
    <h3>これまで担当したデザイン</h3>
    <p>これまで仕事で担当してきたデザインを公開しています。閲覧するには<%= link_to("ログイン", "/login") %>が必要となります。</p>
    <%= link_to("ポートフォリオを見る","/works", class: "button") %>
  </div>
</section>
