<% content_for :page_title do%>
  <div class="top-keyvisual"></div>
<% end %>

<h2>私is誰？</h2>
<p>昨晩、錚々たるIT起業家/経営者の人たちと話してて確信したけど、結局は、Culture & Community に行き着くんだよな。その匂いが価値を生み出す源泉だから。</p>

<h2>私is誰？</h2>
<p>昨晩、錚々たるIT起業家/経営者の人たちと話してて確信したけど、結局は、Culture & Community に行き着くんだよな。その匂いが価値を生み出す源泉だから。</p>

<h2>私is誰？</h2>
<p>昨晩、錚々たるIT起業家/経営者の人たちと話してて確信したけど、結局は、Culture & Community に行き着くんだよな。その匂いが価値を生み出す源泉だから。</p>
