<% content_for :page_title do%>
  <div class="top-keyvisual"></div>
<% end %>

<section class="top-block about">
<h2>デザイナー。コードも最近書いてます。</h2>
<p>いままでエディトリアルデザインから、webデザインまでやってきて、HTML/CSSからはじめて、JavaScriptやRailを触っていてユーザーファーストなデザインはもちろんエンジニアリングも意識した制作をしていきたいです。</p>
</section>

<section class="top-block works">
  <h2>これまで担当したデザイン</h2>
  <p>これまで仕事で担当してきたデザインを公開しています。閲覧するには<%= link_to("ログイン", "/login") %>が必要となります。</p>
  <button>デザイン集を見る</button>
</section>

<section class="top-block notes">
  <h2>感じたこと学んだことを残す</h2>
  <p>デザインやプログラミングで気になった話題であったり、発見したこと身につけたことを記録できるようにしました。</p>
  <button>ノートを見る</button>
</section>
