<section class="top-block about fadein" >
  <img src="<%= asset_pack_path 'images/default.jpg' %>" alt="" style="margin-bottom: 40px;">
  <h2>デザイナー。コードも最近書いてます。</h2>
  <p>いままでエディトリアルデザインからはじまり、webデザインにも挑戦するため、HTML/CSSを勉強sはじめました。今ではJavaScriptやRailsを軽く触ったりしています。これからはユーザーファーストなデザインはもちろんエンジニアリングも意識したデザインをしていきたいです。</p>
</section>
<section class="top-block about fadein" >
  <p>株式会社CAMPFIRE デザイナー</p>
  <p>デザイン</p>
  <p>ビーゴー株式会社</p>
  <p>webデザイン・グラフィックデザイン</p>
  <p>primary inc.,</p>
  <p>エディトリアルデザイン</p>
</section>
<section class="top-block about fadein" >
  <img src="<%= asset_pack_path 'images/default.jpg' %>" alt="">
  <p>Kikuchi Tetsuro</p>
</section>
