<section class="top-block about fadein" >
  <figure class="about-main_image">
    <img src="<%= asset_pack_path 'images/portfolio_logo2.jpg' %>" alt="">
  </figure>
  <h2 style="text-align: center;">菊地 哲郎</h2>
  <p>長野県出身の元高校球児。元々は印刷会社でDTPオペレーターとして働きはじめ、デザイン事務所でエディトリアルデザイナー、web制作会社でグラフィック、webデザイナーを経験しました。</p>
  <p>webサービス業界への足がかりとしてCAMPFIRE社に入社し、デザイナーとしてデザインとフロントエンド実装含め担当しています。</p>
  <p>phpからrubyへのリプレイスプロジェクトではフロント周りの移行を担当しつつ、バックエンドのコードも触りながらMVCアーキテクチャへの理解も深めることができました。</p>
  <p>今後はUI/UX、アクセシビリティ、エンジニアリングの知見を身につけて、ものづくりを楽しんでいきたいです。</p>
  <div class="skill-list">
    <span>Illustrator</span><span>Photoshop</span><span>sketch</span><span>HTML</span><span>CSS</span><span>Sass</span><span>slim</span><span>javascript</span><span>ruby on rails</span>
  </div>
</section>
<section class="top-block about fadein" >
  <ul class="job-list">
    <li>
      <span class="company">株式会社CAMPFIRE</span>
      <span class="job">デザイン・コーディング</span>
    </li>
    <li>
      <span class="company">ビーゴー株式会社</span>
      <span class="job">webデザイン・グラフィックデザイン</span>
    </li>
    <li>
      <span class="company">primary inc.,</span>
      <span class="job">エディトリアルデザイン</span>
    </li>
  </ul>
</section>
<section class="top-block profile fadein" >
  <figure class="profile-icon">
    <img src="<%= asset_pack_path 'images/portfolio_logo.svg' %>" alt="">
  </figure>
  <p class="profile-name">Kikuchi Tetsuro<span>Designer</span></p>
</section>
