<section class="top-block about fadein" >
  <figure class="content-main-image" style="margin-bottom: 60px;">
    <img src="<%= asset_pack_path 'images/default.jpg' %>" alt="">
  </figure>
  <h2>デザイナー。コードも最近書いてます。</h2>
  <p>いままでエディトリアルデザインからはじまり、webデザインにも挑戦するため、HTML/CSSを勉強sはじめました。今ではJavaScriptやRailsを軽く触ったりしています。これからはユーザーファーストなデザインはもちろんエンジニアリングも意識したデザインをしていきたいです。</p>
</section>
