<section class="top-block about fadein" >
  <img src="<%= asset_pack_path 'images/default.jpg' %>" alt="" style="margin-bottom: 40px;">
  <h2>デザイナー。コードも最近書いてます。</h2>
  <p>いままでエディトリアルデザインからはじまり、webデザインにも挑戦するため、HTML/CSSを勉強sはじめました。今ではJavaScriptやRailsを軽く触ったりしています。これからはユーザーファーストなデザインはもちろんエンジニアリングも意識したデザインをしていきたいです。</p>
</section>
<section class="top-block about fadein" >
  <ul class="job-list">
    <li>
      <span class="company">株式会社CAMPFIRE</span>
      <span class="job">デザイン・コーディング</span>
    </li>
    <li>
      <span class="company">ビーゴー株式会社</span>
      <span class="job">webデザイン・グラフィックデザイン</span>
    </li>
    <li>
      <span class="company">primary inc.,</span>
      <span class="job">エディトリアルデザイン</span>
    </li>
  </ul>
</section>
<section class="top-block profile fadein" >
  <figure class="profile-icon">
    <img src="<%= asset_pack_path 'images/portfolio_logo.svg' %>" alt="">
  </figure>
  <p class="profile-name">Kikuchi Tetsuro<span>Designer</span></p>
</section>
