<div class="card-container">
<% @posts.each do |post| %>
  <div class="card fadein">
    <%= link_to("/notes/#{post.id}") do %>
      <div class="card-inner">
        <figure class="content-main-image"><%= image_tag post.image.to_s %></figure>
        <h3 class="title"><%= post.title %></h3>
        <div class="category-wrap">
          <p class="category"><%= post.tag %></p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
</div>
