<!-- <%= react_component("PostList", {datas: @posts}) %> -->
<% @posts.each do |post| %>
  <div>
    <%= image_tag("/posts/main_images/#{post.main_image}") %>
    <h3><%= post.title %></h3>
    <p><%= post.tag %></p>
    <p>見る</p>
  </div>
<% end %>
