@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import "//fonts.googleapis.com/css?family=Open+Sans";
@import 'normalize';

$main-color: #ffe500;
$point-color: #5bcbd7;
$font-color: #222;
$text-color: #444;

html {
  font-family: "Open Sans", 'Noto Sans JP', "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

* {
  box-sizing: border-box;
}

*,
*:before,
*:after,
a {
  transition: all .2s ease;
}

body {
  margin: 0;
  padding: 0;
  border: 50px solid transparent;
  border-bottom-width: 0;
  border-top-width: 0;
  overflow-x: hidden;
  color: $font-color;
  line-height: 1.5;
  word-wrap: break-word;
  box-sizing: border-box;
  &:before,
  &:after {
      z-index: 0;
      content: '';
      user-select: none;
      pointer-events: none;
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      border: inherit;
      border-color: $main-color;
      will-change: border-color;
  }
  // &:after {
  //     border-width: 0;
  //     border-bottom-width: 50px;
  //     z-index: 101;
  // }
}

// reset
h1,h2,h3,h4,h5,h6,ul,ol,p {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}

p {
  font-size: 18px;
  line-height: 2;
  font-weight: 350;
  color: $text-color;
}

img {
  width: 100%;
  box-sizing: border-box;
  border: 4px solid #f5f5f5;
}

a {
  text-decoration: none;
}

input, button, textarea, select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
  cursor: pointer;
}

//button
button{
  display: block;
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 4px;
  font-weight: 500;
  background-color: $point-color;
  color: white;
}

// layout

.wrapper {
  margin: 0 auto;
  padding: 40px 0;
  position: relative;
  z-index: 110;
  &.inner {
    max-width: 680px;
  }
}

.content {
  padding: 0 30px;
  img {
    width: 100%;
  }
}

.header {
  position: fixed;
  display: flex;
  width: 100%;
  top: 0;
  left: 0;
  padding: 30px;
  box-sizing: border-box;
  z-index: 200;
  pointer-events: none;
  .header-logo {
    flex-basis: 200px;
    pointer-events: painted;
    a {
      display: block;
      font-weight: 900;
      font-size: 24px;
      line-height: 40px;
      color: $font-color;
      &:hover {
        span {
          margin-right: 30px;
          font-size: 14px;
        }
      }
    }
  }
  .header-blank {
    flex-basis: 100%;
    height: 0;
  }
  .header-nav {
    padding-top: 100px;
    flex-basis: auto;
    pointer-events: painted;
    .nav-list {
      li {
        margin-bottom: 20px;
      }
      a {
        position: relative;
        display: block;
        padding: 8px 0;
        font-size: 24px;
        font-weight: 700;
        color: $font-color;
        &:before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 20px;
          height: 4px;
          background-color: $font-color;
        }
        &:hover {
          &:before {
            width: 60px;
          }
        }
      }
    }
    .user-action {
      a {
        display: block;
        font-size: 14px;
        font-weight: 700;
        color: $font-color;
        &:hover {
          span {
            margin-right: 3px;
          }
        }
      }
    }
  }
}

.page-title {
  position: fixed;
  left: 30px;
  bottom: 20px;
  color: $font-color;
  font-size: 36px;
  font-weight: 900;
  letter-spacing: -2px;
  line-height: 1.2;
  z-index: 100;
}

.admin-action {
  position: absolute;
  right: 0;
  a {
    display: inline-block;
    width: 60px;
    height: 60px;
    padding: 0 12px;
    border-radius: 50%;
    line-height: 60px;
    background-color: $point-color;
    text-align: center;
    span {
      font-size: 12px;
      font-weight: 500;
      color: white;
    }
    &:hover {
      background-color: $main-color;
    }
  }
}

// works

.card-container {
  display: flex;
  flex-flow: row wrap;
  * {
    line-height: 1.2;
  }
  a {
    display: block;
    color: $font-color;
    &:hover {
      .title {
        color: $main-color;
      }
    }
  }
  .card {
    box-sizing: border-box;
    width: 50%;
    padding: 20px;
    .title {
      margin: 10px 0;
      font-size: 20px;
      font-weight: 900;
    }
    .category {
      display: inline-block;
      margin: 0;
      padding: 0 8px;
      height: 20px;
      font-size: 11px;
      font-weight: 700;
      position: relative;
      line-height: 20px;
      border-radius: 10px;
      background-color: $point-color;
      color: white;
      &:hover {
        background-color: $main-color;
        color: white;
      }
    }
  }
}

.works-img {
  margin-bottom: 30px;
}

.content-title {
  font-size: 48px;
  font-weight: 700;
  padding-top: 30px;
}

.content-meta {
  display: inline-block;
  margin: 0 0 30px;
  padding: 0 8px;
  height: 20px;
  font-size: 11px;
  font-weight: 700;
  position: relative;
  line-height: 20px;
  border-radius: 10px;
  background-color: $point-color;
  color: white;
  &:hover {
    background-color: $main-color;
    color: white;
  }
}

.content-description {
  margin-bottom: 40px;
}

.form-container {
  // display: flex;
  // height: 100%;
  // align-items: center;
  form {
    max-width: 450px;
    margin: -10px auto 0;
    label {
      display: block;
      font-size: 20px;
      font-weight: 600;
    }
    textarea {
      width: 100%;
      min-height: 300px;
      margin: 10px 0 20px;
      padding: 15px;
      border-radius: 4px;
      background-color: #eee;
      font-size: 14px;
      font-weight: 500;
      line-height: 2;
      resize: none;
    }
    input[type="text"],
    input[type="password"],
    input[type="number"],
    select {
      width: 100%;
      border-radius: 4px;
      background-color: #eee;
      padding: 15px;
      margin: 10px 0 20px;
      font-weight: 600;
      letter-spacing: 2px;
    }
    input[type="checkbox"] {
      display: block;
      margin: 10px 0 20px;
      width: 20px;
      height: 20px;
      background-color: #eee;
      border-radius: 50%;
      position: relative;
      &:after {
        content: "";
        width: 10px;
        height: 10px;
        background-color: $point-color;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
      }
      &:checked {
        &:after {
          display: block;
        }
      }
    }
    input {
      &:last-of-type {
        margin-bottom: 40px;
      }
    }
  }
}

.notify-bar {
  position: absolute;
  top: 0;
  left: 50px;
  right: 50px;
  text-align: center;
  z-index: 150;
  animation: notify_toggle .4s ease 0s 1 alternate;
  background: $point-color;
  height: 40px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
}

@keyframes notify_toggle {
  0% {
    height: 0;
  }

  100% {
    height: 40px;
  }
}
