@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import "//fonts.googleapis.com/css?family=Open+Sans";
@import 'normalize';

$main-color: #ffe500;
$font-color: #222;
$text-color: #444;

html {
  font-family: "Open Sans", 'Noto Sans JP', "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

*,
*:before,
*:after,
a {
  transition: all .2s ease;
}

body {
  margin: 0;
  padding: 0;
  border: 50px solid transparent;
  overflow-x: hidden;
  color: $font-color;
  line-height: 1.5;
  word-wrap: break-word;
  &:before,
  &:after {
      z-index: 0;
      content: '';
      user-select: none;
      pointer-events: none;
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      border: inherit;
      border-bottom-width: 30px;
      border-top-width: 30px;
      border-color: $main-color;
      will-change: border-color;
  }
  // &:after {
  //     border-width: 0;
  //     border-bottom-width: 50px;
  //     z-index: 101;
  // }
}

// reset
h1,h2,h3,h4,h5,h6,ul,ol,p {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}

p {
  font-size: 18px;
  line-height: 2;
  font-weight: 350;
  color: $text-color;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

img {
  box-sizing: border-box;
  border: 4px solid #f5f5f5;
}
// layout

.wrapper {
  margin: 40px auto;
  position: relative;
  z-index: 110;
  &.inner {
    max-width: 680px;
  }
}

.content {
  padding: 0 30px;
  img {
    width: 100%;
  }
}

.header {
  position: fixed;
  display: flex;
  width: 100%;
  top: 0;
  left: 0;
  padding: 30px;
  box-sizing: border-box;
  z-index: 200;
  pointer-events: none;
  .header-logo {
    flex-basis: 200px;
    pointer-events: painted;
    a {
      display: block;
      font-weight: 900;
      font-size: 24px;
      line-height: 40px;
      color: $font-color;
      &:hover {
        span {
          margin-right: 30px;
          font-size: 14px;
        }
      }
    }
  }
  .header-blank {
    flex-basis: 100%;
    height: 0;
  }
  .header-nav {
    padding-top: 100px;
    flex-basis: auto;
    pointer-events: painted;
    .nav-list {
      li {
        margin-bottom: 20px;
      }
      a {
        position: relative;
        display: block;
        padding: 8px 0;
        font-size: 24px;
        font-weight: 700;
        color: $font-color;
        &:before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 20px;
          height: 4px;
          background-color: $font-color;
        }
        &:hover {
          &:before {
            width: 60px;
          }
        }
      }
    }
    .user-action {
      a {
        display: block;
        font-size: 14px;
        font-weight: 700;
        color: $font-color;
        &:hover {
          span {
            margin-right: 3px;
          }
        }
      }
    }
  }
}

.page-title {
  position: fixed;
  left: 30px;
  bottom: 20px;
  color: $font-color;
  font-size: 36px;
  font-weight: 900;
  letter-spacing: -2px;
  line-height: 1.2;
  z-index: 100;
}

.admin-action {
  position: absolute;
  right: 0;
}

// works

.card-container {
  display: flex;
  flex-flow: row wrap;
  * {
    line-height: 1.2;
  }
  a {
    display: block;
    color: $font-color;
    &:hover {
      img {
        transform: scale(.9, .9);
      }
      .title {
        color: $main-color;
      }
    }
  }
  .card {
    box-sizing: border-box;
    width: 50%;
    padding: 30px;
    .title {
      margin: 10px 0;
      font-size: 20px;
      font-weight: 900;
    }
    .category {
      display: inline-block;
      margin: 0;
      padding: 1px;
      font-size: 11px;
      font-weight: 700;
      position: relative;
      background-color: white;
      color: $main-color;
      &:hover {
        background-color: $main-color;
        color: white;
      }
    }
  }
}

.works-img {
  margin-bottom: 30px;
}

.content-title {
  font-size: 48px;
  font-weight: 700;
  padding-top: 30px;
}

.content-meta {
  margin-bottom: 20px;
  font-size: 14px;
  color: $main-color;
}

.content-description {
  margin-bottom: 40px;
}
