@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import "//fonts.googleapis.com/css?family=Open+Sans";
@import 'normalize';

$main-color: #ffe500;
$point-color: #20d9ac;
$font-color: #222;
$text-color: #444;

html {
  font-family: "Open Sans", 'Noto Sans JP', "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  background-color: #f7f7f7;
}

* {
  box-sizing: border-box;
}

*,
*:before,
*:after,
a {
  transition: all .2s ease;
}

body {
  margin: 0;
  padding: 0;
  border: 50px solid transparent;
  @media screen and (max-width: 800px) {
    border: 10px solid transparent;
    border-bottom-width: 0;
    border-top-width: 0;
  }
  border-bottom-width: 0;
  border-top-width: 0;
  overflow-x: hidden;
  color: $font-color;
  line-height: 1.5;
  word-wrap: break-word;
  box-sizing: border-box;
  &:before,
  &:after {
      z-index: 0;
      content: '';
      user-select: none;
      pointer-events: none;
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      border: inherit;
      border-color: $main-color;
      will-change: border-color;
  }
  // &:after {
  //     border-width: 0;
  //     border-bottom-width: 50px;
  //     z-index: 101;
  // }
}

// reset
h1,h2,h3,h4,h5,h6,ul,ol,p,figure {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}

p {
  font-size: 16px;
  line-height: 2;
  font-weight: 400;
  color: $text-color;
}

img {
  max-width: 100%;
  box-sizing: border-box;
  border: 1px #eee solid;
  border-radius: 8px;
}

a {
  text-decoration: none;
}

input, button, textarea, select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
  cursor: pointer;
}

// button
//---------------------------------------

button{
  display: block;
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 4px;
  font-weight: 500;
  background-color: $point-color;
  color: white;
  @media screen and (max-width: 800px) {
    font-size: 14px;
    padding: 10px 15px;
  }
}

// layout
//---------------------------------------

.wrapper {
  margin: 0 auto;
  padding: 80px 0;
  position: relative;
  z-index: 110;
  @media screen and (max-width: 800px) {
    padding: 0 10px 30px;
  }
  &.inner {
    max-width: 600px;
  }
}

.content {
  padding: 0;
  img {
    width: 100%;
  }
}

.header {
  position: fixed;
  display: flex;
  width: 100%;
  top: 0;
  left: 0;
  padding: 30px;
  box-sizing: border-box;
  z-index: 200;
  pointer-events: none;
  .header-logo {
    flex-basis: 200px;
    pointer-events: painted;
    align-self: flex-start;
    a {
      display: block;
      font-weight: 900;
      font-size: 24px;
      line-height: 40px;
      color: $font-color;
      &:hover {
        span {
          margin-right: 30px;
          font-size: 14px;
        }
      }
    }
  }
  .header-blank {
    flex-basis: 100%;
    height: 0;
  }
  .header-nav {
    padding-top: 20px;
    flex-basis: auto;
    pointer-events: painted;
    .nav-list {
      li {
        margin-bottom: 20px;
      }
      a {
        position: relative;
        display: block;
        padding: 8px 0;
        font-size: 24px;
        font-weight: 700;
        color: $font-color;
        &:before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 20px;
          height: 4px;
          background-color: $font-color;
        }
        &:hover {
          &:before {
            width: 60px;
          }
        }
      }
    }
    .user-action {
      a {
        display: block;
        font-size: 14px;
        font-weight: 700;
        color: $font-color;
        padding: 5px 0;
        margin-bottom: 5px;
        &:hover {
          color: $point-color;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .header {
    position: relative;
    display: block;
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
    z-index: 200;
    pointer-events: none;
    .header-logo {
      display: inline-block;
      a {
        display: block;
        font-weight: 900;
        font-size: 14px;
        line-height: 24px;
        color: $font-color;
        &:hover {
          span {
            margin-right: 30px;
            font-size: 14px;
          }
        }
      }
    }
    .header-blank {
    }
    .header-nav {
      display: none;
      opacity: 0;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 0;
      // background-color: $main-color;
      .nav-list {
        padding: 50px 30px 30px;
        li {
          margin-bottom: 20px;
        }
        a {
          position: relative;
          display: inline-block;
          padding: 8px 0;
          font-size: 24px;
          font-weight: 700;
          color: $font-color;
          &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 4px;
            background-color: $font-color;
          }
          &:hover {
            &:before {
              width: 60px;
            }
          }
        }
      }
      .user-action {
        a {
          display: block;
          font-size: 14px;
          font-weight: 700;
          color: $font-color;
          &:hover {
            span {
              margin-right: 3px;
            }
          }
        }
        display: inline-block;
        padding: 0 30px;
      }
    }
    &.is-active {
      .header-logo {
        opacity: 0;
      }
      .header-nav {
        display: block;
        animation: menu-open 1s ease 0s 1 alternate forwards;
      }
    }
    &.is-deactive {
      .header-logo {
        animation: menu-open 1s ease 0s 1 alternate forwards;
      }
    }
  }
}

@keyframes menu-open {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes menu-close {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 800px) {
  .menu-bg {
    z-index: 150;
    position: fixed;
    top: 30px;
    right: 20px;
    border-radius: 50%;
    display: block;
    width: 40px;
    height: 40px;
    background-color: $main-color;
    transform: scale(1);
    transition-duration: .5s;
    &.is-active {
      transform: scale(100);
    }
  }
}

.menu-btn {
  display: none;
  position: fixed;
  top: 30px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: $font-color;
  letter-spacing: -10px;
  z-index: 300;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
  background: $main-color;
  pointer-events: painted;
  &.is-active {
    .menu-icon {
      width: 16px;
      .mi1 {
        transform: rotate(45deg) translate(2.5px, 2.5px);
      }
      .mi2 {
        transform: rotate(-45deg) translate(2.5px, -2.5px);
      }
    }
  }
  .menu-icon {
    vertical-align: -2px;
    width: 14px;
    height: 16px;
    position: relative;
    display: inline-block;
    .mi {
      display: block;
      height: 3px;
      border-radius: 1.5px;
      background: $font-color;
      position: absolute;
      left: 0;
      right: 0;
    }
    .mi1 {
      top: 3px;
    }
    .mi2 {
      bottom: 3px;
    }
  }
  @media screen and (max-width: 800px) {
    display: block;

  }
}

.top-btn {
  cursor: pointer;
  position: fixed;
  bottom: 30px;
  right: 60px;
  z-index: 120;
  height: 30px;
  @media screen and (max-width: 800px) {
    display: none;
  }
  &:hover {
    height: 60px;
  }
  .btn-inner {
    width: 50px;
    height: 100%;
    position: relative;
  }
  .s1 {
    position: absolute;
    top: -16px;
    right: 19px;
    display: block;
    width: 12px;
    height: 12px;
  }
  .s2 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    display: block;
    width: 3px;
    height: 100%;
    background-color: $font-color;
  }
}

.page-title {
  position: fixed;
  left: 30px;
  bottom: 20px;
  color: $font-color;
  font-size: 36px;
  font-weight: 900;
  letter-spacing: -2px;
  line-height: 1.2;
  z-index: 100;
  @media screen and (max-width: 800px) {
    display: none;
  }
}

.admin-action {
  position: fixed;
  right: 150px;
  a {
    display: block;
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
    padding: 0 12px;
    border-radius: 50%;
    line-height: 60px;
    background-color: $point-color;
    text-align: center;
    span {
      font-size: 12px;
      font-weight: 500;
      color: white;
    }
    &:hover {
      background-color: $main-color;
    }
  }
}

// works
//---------------------------------------

.card-container {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -20px;
  @media screen and (max-width: 800px) {
    margin: 0;
  }
  * {
    line-height: 1.2;
  }
  a {
    display: block;
    color: $font-color;
    &:hover {
      .title {
        color: $point-color;
      }
    }
  }
  .card {
    box-sizing: border-box;
    width: 50%;
    padding: 20px;
    @media screen and (max-width: 600px) {
      padding: 5px;
    }
    > a {
      position: relative;
      overflow: hidden;
      border: 1px #eee solid;
      border-radius: 8px;
      box-shadow: 0 2px 8px rgba(0,0,0,.1);
      &:hover {
        transform: translateY(-10px);
        box-shadow: 0 4px 16px rgba(0,0,0,.1);
      }
    }
    .card-inner {
      background-color: white;
    }
    .title {
      margin: 10px 0;
      padding: 0 20px;
      font-size: 16px;
      line-height: 1.4;
      font-weight: 700;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      @media screen and (max-width: 800px) {
        font-size: 11px;
        padding: 0 10px;
      }
    }
    .category-wrap {
      padding: 0 20px 15px;
      text-align: right;
      @media screen and (max-width: 800px) {
        padding: 0 10px 15px;
      }
    }
    .category {
      display: inline-block;
      margin: 0;
      padding: 0 8px;
      height: 20px;
      font-size: 10px;
      font-weight: 600;
      position: relative;
      line-height: 20px;
      border-radius: 10px;
      background-color: $point-color;
      color: white;
      @media screen and (max-width: 800px) {
        font-size: 10px;
        height: 16px;
        line-height: 16px;
        padding: 0 6px;
      }
    }
  }
}

.works-img {
  margin-bottom: 30px;
}

.content-title {
  font-size: 32px;
  line-height: 1.2;
  font-weight: 900;
  margin: 15px 0;
  @media screen and (max-width: 800px) {
    margin: 10px 0;
    font-size: 24px;
  }
}

.content-nav {
  display: block;
  text-align: right;
  overflow: hidden;
  z-index: 210;
  font-size: 14px;
  padding: 0;
  margin-bottom: 20px;
  @media screen and (max-width: 800px) {
    margin-bottom: 20px;
    font-size: 12px;
  }
  .nav-left {
    float: left;
  }
  .nav-right {
    float: right;
  }
  span {
    margin: 0 5px;
  }
  a {
    font-weight: 700;
    color: $font-color;
    &:hover {
      color: $point-color;
    }
  }
}

.content-meta {
  display: inline-block;
  margin: 0 0 30px;
  padding: 0 8px;
  height: 20px;
  font-size: 11px;
  font-weight: 700;
  position: relative;
  line-height: 20px;
  border-radius: 10px;
  background-color: $point-color;
  color: white;
  @media screen and (max-width: 800px) {
    margin-bottom: 20px;
  }
  &:hover {
    background-color: $main-color;
    color: white;
  }
}

.content-description {
  margin-bottom: 40px;
  @media screen and (max-width: 800px) {
    margin-bottom: 20px;
  }
}

// form
//---------------------------------------
.form-container {
  padding: 20px 10px;
  margin: 0 auto;
  width: 100%;
  &.login {
    max-width: 450px;
    padding-top: 40px;
    p {
      margin-bottom: 40px;
    }
  }
  form {
    margin: -10px auto 0;
    label {
      display: block;
      font-size: 16px;
      font-weight: 600;
      @media screen and (max-width: 800px) {
        font-size: 14px;
      }
    }
    textarea {
      width: 100%;
      min-height: 300px;
      margin: 10px 0 20px;
      padding: 15px;
      border-radius: 4px;
      background-color: #eee;
      font-size: 14px;
      font-weight: 500;
      line-height: 2;
      resize: none;
    }
    input[type="text"],
    input[type="password"],
    input[type="number"],
    select {
      width: 100%;
      border-radius: 4px;
      background-color: #eee;
      padding: 15px;
      margin: 10px 0 20px;
      font-weight: 600;
      letter-spacing: 2px;
      @media screen and (max-width: 800px) {
        padding: 10px;
        font-size: 14px;
      }
    }
    input[type="checkbox"] {
      display: block;
      margin: 10px 0 20px;
      width: 20px;
      height: 20px;
      background-color: #eee;
      border-radius: 50%;
      position: relative;
      &:after {
        content: "";
        width: 10px;
        height: 10px;
        background-color: $point-color;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
      }
      &:checked {
        &:after {
          display: block;
        }
      }
    }
    input {
      &:last-of-type {
        margin-bottom: 40px;
        @media screen and (max-width: 800px) {
          margin-bottom: 30px;
        }
      }
    }
  }
}

// notify-bar
//---------------------------------------
.notify-bar {
  position: absolute;
  top: 0;
  left: 50px;
  right: 50px;
  text-align: center;
  z-index: 150;
  span {
    display: inline-block;
    background: $point-color;
    border-radius: 15px;
    height: 30px;
    padding: 0 15px;
    transform: translate(0, 30px);
    color: white;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    @media screen and (max-width: 800px) {
      font-size: 12px;
      height: 24px;
      line-height: 24px;
    }
    &.notify-slide-in {
      animation: notify_slide_in .4s ease 0s 1 alternate forwards;
    }
    &.notify-slide-out {
      animation: notify_slide_out .4s ease 0s 1 alternate forwards;
    }
  }
}

@keyframes notify_slide_in {
  0% {
    transform: translate(0, -60px);
  }

  100% {
    transform: translate(0, 30px);
  }
}

@keyframes notify_slide_out {
  0% {
    transform: translate(0, 30px);
  }

  100% {
    transform: translate(0, -60px);
  }
}

// markdown style
.content {
  p,ul,ol {
    margin: 30px 0;
  }
  h1,h2,h3,h4,h5,h6 {
    margin: 40px 0 20px;
  }
  h1 {
    padding-bottom: 5px;
    border-bottom: #eee 2px solid;
  }
  a {
    color: $point-color;
    &:hover {
      color: $main-color;
    }
  }
  ul {
    padding-left: 20px;
    li {
      list-style:  disc;
    }
  }
  ol {
    padding-left: 20px;
    li {
      list-style:  decimal;
    }
  }
  blockquote {
    border-left: 4px #ccc solid;
    margin: 20px 0;
    padding: 5px 10px 5px 30px;
    p {
      color: #999;
    }
  }
  code {
    background-color: #eee;
    padding: .1em .4em;
    border-radius: 3px;
    color: #444;
  }
  .highlight {
    code {
      background-color: inherit;
    }
  }
}

@media screen and (max-width: 800px) {
  .content {
    p,ul,ol {
      margin: 20px 0;
    }
    h1,h2,h3,h4,h5,h6 {
      margin: 30px 0 20px;
    }
    h1 {
      font-size: 24px;
    }
    h2 {
      font-size: 20px;
    }
    h3 {
      font-size: 18px;
    }
    h4 {
      font-size: 16px;
    }
  }
}

.category-list {
  margin-bottom: 50px;
  text-align: center;
  @media screen and (max-width: 800px) {
    margin-bottom: 20px;
  }
  a {
    margin: 0 3px;
    font-size: 12px;
    font-weight: 600;
    display: inline-block;
    background: #eee;
    padding: 0 10px;
    height: 24px;
    color: $font-color;
    line-height: 24px;
    border-radius: 15px;
    @media screen and (max-width: 800px) {
      font-size: 10px;
      height: 20px;
      line-height: 20px;
    }
    &:hover {
      background: $main-color;
    }
  }
}

.users-works_index,
.users-posts_index,
.users-index {
  .card-container {
    .card {
      width: 100%;
      border: 1px #eee solid;
      padding: 10px 20px;
      background-color: #f7f7f7;
      border-radius: 4px;
      margin-bottom: 20px;
      .title {
        padding: 0;
        font-size: 14px;
        font-weight: 600;
      }
      .links {
        text-align: right;
        font-size: 12px;
        span {
          color: #999;
          vertical-align: 1px;
        }
        a {
          display: inline-block;
          color: $point-color;
          &:hover {
            color: $main-color;
          }
        }
      }
    }
    .add-card {
      display: block;
      width: 100%;
      background-color: $point-color;
      color: white;
      padding: 20px;
      text-align: center;
      border-radius: 4px;
    }
  }
}

.users-show {
  h1 {
    display: inline-block;
    margin: 0 20px 20px 0;
  }
  .card-container {
    display: block;
    .card {
      display: inline-block;
      width: 100%;
      margin-bottom: 20px;
      padding: 20px;
      color: white;
      background-color: $point-color;
      border-radius: 4px;
    }
  }
}



.content-wrap {
  background-color: white;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0 2px 8px rgba(0,0,0,.1);
  @media screen and (max-width: 800px) {
    background-color: white;
    padding: 10px 15px;
  }
}

.content-main-image {
  position: relative;
  overflow: hidden;
  &:after {
    width: 100%;
    padding-top: 60%;
    display: block;
    content: "";
    background-color: $main-color;
  }
  img{
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 0;
    border: none;
  }
}
