@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import "//fonts.googleapis.com/css?family=Open+Sans";
@import 'normalize';

$main-color: #ffe500;
$point-color: #5bcbd7;
$font-color: #222;
$text-color: #444;

html {
  font-family: "Open Sans", 'Noto Sans JP', "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

* {
  box-sizing: border-box;
}

*,
*:before,
*:after,
a {
  transition: all .2s ease;
}

body {
  margin: 0;
  padding: 0;
  border: 50px solid transparent;
  @media screen and (max-width: 800px) {
    border: 10px solid transparent;
    border-bottom-width: 0;
    border-top-width: 0;
  }
  border-bottom-width: 0;
  border-top-width: 0;
  overflow-x: hidden;
  color: $font-color;
  line-height: 1.5;
  word-wrap: break-word;
  box-sizing: border-box;
  &:before,
  &:after {
      z-index: 0;
      content: '';
      user-select: none;
      pointer-events: none;
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      border: inherit;
      border-color: $main-color;
      will-change: border-color;
  }
  // &:after {
  //     border-width: 0;
  //     border-bottom-width: 50px;
  //     z-index: 101;
  // }
}

// reset
h1,h2,h3,h4,h5,h6,ul,ol,p {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}

p {
  font-size: 18px;
  line-height: 2;
  font-weight: 400;
  color: $text-color;
}

img {
  max-width: 100%;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

input, button, textarea, select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
  cursor: pointer;
}

// button
//---------------------------------------

button{
  display: block;
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 4px;
  font-weight: 500;
  background-color: $point-color;
  color: white;
}

// layout
//---------------------------------------

.wrapper {
  margin: 0 auto;
  padding: 80px 0;
  position: relative;
  z-index: 110;
  @media screen and (max-width: 800px) {
    padding: 120px 20px 0;
  }
  &.inner {
    max-width: 600px;
  }
}

.content {
  padding: 0;
  img {
    width: 100%;
  }
}

.header {
  position: fixed;
  display: flex;
  width: 100%;
  top: 0;
  left: 0;
  padding: 30px;
  box-sizing: border-box;
  z-index: 200;
  pointer-events: none;
  .header-logo {
    flex-basis: 200px;
    pointer-events: painted;
    align-self: flex-start;
    a {
      display: block;
      font-weight: 900;
      font-size: 24px;
      line-height: 40px;
      color: $font-color;
      &:hover {
        span {
          margin-right: 30px;
          font-size: 14px;
        }
      }
    }
  }
  .header-blank {
    flex-basis: 100%;
    height: 0;
  }
  .header-nav {
    padding-top: 100px;
    flex-basis: auto;
    pointer-events: painted;
    .nav-list {
      li {
        margin-bottom: 20px;
      }
      a {
        position: relative;
        display: block;
        padding: 8px 0;
        font-size: 24px;
        font-weight: 700;
        color: $font-color;
        &:before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 20px;
          height: 4px;
          background-color: $font-color;
        }
        &:hover {
          &:before {
            width: 60px;
          }
        }
      }
    }
    .user-action {
      a {
        display: block;
        font-size: 14px;
        font-weight: 700;
        color: $font-color;
        &:hover {
          span {
            margin-right: 3px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .header {
    position: fixed;
    display: block;
    padding: 10px 30px 30px 10px;
    box-sizing: border-box;
    z-index: 200;
    pointer-events: none;
    .header-logo {
      display: inline-block;
      a {
        display: block;
        font-weight: 900;
        font-size: 14px;
        line-height: 24px;
        color: $font-color;
        &:hover {
          span {
            margin-right: 30px;
            font-size: 14px;
          }
        }
      }
    }
    .header-blank {
    }
    .header-nav {
      &.is-active {
        display: block;
      }
      display: none;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 0;
      background-color: $main-color;
      .nav-list {
        padding: 30px;
        li {
          margin-bottom: 20px;
        }
        a {
          position: relative;
          display: block;
          padding: 8px 0;
          font-size: 24px;
          font-weight: 700;
          color: $font-color;
          &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 4px;
            background-color: $font-color;
          }
          &:hover {
            &:before {
              width: 60px;
            }
          }
        }
      }
      .user-action {
        a {
          display: block;
          font-size: 14px;
          font-weight: 700;
          color: $font-color;
          &:hover {
            span {
              margin-right: 3px;
            }
          }
        }
      }
    }
  }
}

.menu-btn {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: $font-color;
  letter-spacing: -10px;
  z-index: 300;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
  background: $main-color;
  @media screen and (max-width: 800px) {
    display: block;
  }
}

.page-title {
  position: fixed;
  left: 30px;
  bottom: 20px;
  color: $font-color;
  font-size: 36px;
  font-weight: 900;
  letter-spacing: -2px;
  line-height: 1.2;
  z-index: 100;
  @media screen and (max-width: 800px) {
    display: none;
  }
}

.admin-action {
  position: fixed;
  right: 150px;
  a {
    display: block;
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
    padding: 0 12px;
    border-radius: 50%;
    line-height: 60px;
    background-color: $point-color;
    text-align: center;
    span {
      font-size: 12px;
      font-weight: 500;
      color: white;
    }
    &:hover {
      background-color: $main-color;
    }
  }
}

// works
//---------------------------------------

.card-container {
  display: flex;
  flex-flow: row wrap;
  * {
    line-height: 1.2;
  }
  a {
    display: block;
    color: $font-color;
    &:hover {
      .title {
        color: $main-color;
      }
    }
  }
  .card {
    box-sizing: border-box;
    width: 50%;
    padding: 20px;
    @media screen and (max-width: 800px) {
      padding: 10px;
    }
    .title {
      margin: 10px 0;
      font-size: 20px;
      font-weight: 900;
      @media screen and (max-width: 800px) {
        font-size: 14px;
      }
    }
    .category {
      display: inline-block;
      margin: 0;
      padding: 0 8px;
      height: 20px;
      font-size: 11px;
      font-weight: 700;
      position: relative;
      line-height: 20px;
      border-radius: 10px;
      background-color: $point-color;
      color: white;
      @media screen and (max-width: 800px) {
        font-size: 10px;
        height: 16px;
        line-height: 16px;
        padding: 0 6px;
      }
      &:hover {
        background-color: $main-color;
        color: white;
      }
    }
  }
}

.works-img {
  margin-bottom: 30px;
}

.content-title {
  font-size: 48px;
  font-weight: 700;
}

.content-nav {
  position: fixed;
  display: block;
  top: 50%;
  background-color: $point-color;
  color: white;
  height: 30px;
  width: 30px;
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
  z-index: 210;
  &.previous {
    left: 150px;
  }
  &.next {
    right: 150px;
  }
}

.content-meta {
  display: inline-block;
  margin: 0 0 30px;
  padding: 0 8px;
  height: 20px;
  font-size: 11px;
  font-weight: 700;
  position: relative;
  line-height: 20px;
  border-radius: 10px;
  background-color: $point-color;
  color: white;
  &:hover {
    background-color: $main-color;
    color: white;
  }
}

.content-description {
  margin-bottom: 40px;
}

// form
//---------------------------------------
.form-container {
  padding-top: 20px;
  form {
    margin: -10px auto 0;
    label {
      display: block;
      font-size: 20px;
      font-weight: 600;
    }
    textarea {
      width: 100%;
      min-height: 300px;
      margin: 10px 0 20px;
      padding: 15px;
      border-radius: 4px;
      background-color: #eee;
      font-size: 14px;
      font-weight: 500;
      line-height: 2;
      resize: none;
    }
    input[type="text"],
    input[type="password"],
    input[type="number"],
    select {
      width: 100%;
      border-radius: 4px;
      background-color: #eee;
      padding: 15px;
      margin: 10px 0 20px;
      font-weight: 600;
      letter-spacing: 2px;
    }
    input[type="checkbox"] {
      display: block;
      margin: 10px 0 20px;
      width: 20px;
      height: 20px;
      background-color: #eee;
      border-radius: 50%;
      position: relative;
      &:after {
        content: "";
        width: 10px;
        height: 10px;
        background-color: $point-color;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
      }
      &:checked {
        &:after {
          display: block;
        }
      }
    }
    input {
      &:last-of-type {
        margin-bottom: 40px;
      }
    }
  }
}

// notify-bar
//---------------------------------------
.notify-bar {
  position: absolute;
  top: 0;
  left: 50px;
  right: 50px;
  text-align: center;
  z-index: 150;
  span {
    display: inline-block;
    background: $point-color;
    border-radius: 15px;
    height: 30px;
    padding: 0 15px;
    transform: translate(0, 40px);
    color: white;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    &.notify-slide-in {
      animation: notify_slide_in .4s ease 0s 1 alternate forwards;
    }
    &.notify-slide-out {
      animation: notify_slide_out .4s ease 0s 1 alternate forwards;
    }
  }
}

@keyframes notify_slide_in {
  0% {
    transform: translate(0, -60px);
  }

  100% {
    transform: translate(0, 40px);
  }
}

@keyframes notify_slide_out {
  0% {
    transform: translate(0, 40px);
  }

  100% {
    transform: translate(0, -60px);
  }
}

.notes {
  h1,h2,h3,h4,h5,h6,p {
    margin: 20px 0;
  }
}

.category-list {
  margin-bottom: 20px;
  text-align: center;
  a {
    margin: 0 3px;
    font-size: 12px;
    display: inline-block;
    background: #eee;
    padding: 0 10px;
    height: 24px;
    color: #999;
    line-height: 24px;
    border-radius: 15px;
    &:hover {
      background: $main-color;
    }
  }
}
