@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import "//fonts.googleapis.com/css?family=Open+Sans";
@import 'normalize';
@import 'mixins';

$main-color: #ffe500;
$point-color: #20d9ac;
$font-color: #222;
$text-color: #444;

$fs-xxlarge: 3.6rem;
$fs-xlarge: 2.4rem;
$fs-large: 2rem;
$fs-medium: 1.6rem;
$fs-regular: 1.4rem;
$fs-small: 1.2rem;

html {
  font-family: "Open Sans", 'Noto Sans JP', "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-feature-settings: "palt";
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

*,
*:before,
*:after,
a {
  transition: all .2s ease;
}

body {
  margin: 0;
  padding: 0;
  border: 50px solid $main-color;
  font-size: $fs-regular;
  @media screen and (max-width: 800px) {
    border: 3vw solid $main-color;
    border-bottom-width: 0;
    border-top-width: 0;
  }
  border-bottom-width: 0;
  border-top-width: 0;
  overflow-x: hidden;
  color: $font-color;
  line-height: 1.5;
  word-wrap: break-word;
  box-sizing: border-box;
  position: relative;
  background-color: #f7f7f7;
}

// reset
h1,h2,h3,h4,h5,h6,ul,ol,p,figure {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}

p {
  font-size: $fs-medium;
  line-height: 2;
  font-weight: 400;
  color: $text-color;
  @media screen and (max-width: 800px) {
    font-size: $fs-regular;
    line-height: 1.6;
  }
}

a {
  text-decoration: none;
}

input, button, textarea, select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
  cursor: pointer;
}

.mb-40 {
  margin-bottom: 40px;
}

.fadein {
  transition: all 1s ease;
  opacity: 0;
  transform: translateY(30px);
  &.scrollin {
    opacity: 1;
    transform: translateY(0);
  }
}

// button
//---------------------------------------

button,
.button {
  display: block;
  width: 100%;
  padding: 15px 20px;
  font-size: $fs-medium;
  border-radius: 4px;
  font-weight: 700;
  background-color: $point-color;
  color: white;
  text-align: center;
  @media screen and (max-width: 800px) {
    font-size: $fs-regular;
    padding: 15px 15px;
  }
  &:hover {
    background-color: $main-color;
  }

  &.secondary {
    background-color: $main-color;
    color: $font-color;
  }
}

// layout
//---------------------------------------

.wrapper {
  margin: 0 auto;
  padding: 80px 0 40px;
  position: relative;
  z-index: 110;
  min-height: calc(100vh - 52px);
  @media screen and (max-width: 800px) {
    padding: 0 5% 30px;
    min-height: calc(100vh - 147px);
  }
  &.inner {
    max-width: 620px;
    @media screen and (min-width: 800px) {
      max-width: 70vw;
    }
    @media screen and (min-width: 1200px) {
      max-width: 780px;
    }
  }
  img {
    max-width: 100%;
    box-sizing: border-box;
    border: 1px #eee solid;
    border-radius: 8px;
  }
}

.works-show,
.posts-show {
  &.wrapper {
    padding-bottom: 110px;
    @media screen and (max-width: 800px) {
      padding-bottom: 100px;
    }
  }
}

.content {
  padding: 0;
  img {
    width: 100%;
    min-width: 100%;
    min-height: 100px;
    background-color: #f5f5f5;
  }
}

.header {
  position: fixed;
  display: flex;
  width: 100%;
  top: 0;
  left: 0;
  padding: 30px;
  box-sizing: border-box;
  z-index: 200;
  pointer-events: none;
  .header-logo {
    flex-basis: 200px;
    pointer-events: painted;
    align-self: flex-start;
    .logo-text {
      color: $font-color;
      font-weight: 900;
      font-size: $fs-large;
      position: relative;
      padding-bottom: 8px;
      line-height: normal;
      &:before {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50%;
        height: 4px;
        background-color: $font-color;
      }
      &:hover {
        &:before {
          width: 20px;
        }
      }
    }
    a {
      &:hover {
        .circle {
          border-width: 8px;
        }
      }
    }
    .circle {
      position: relative;
      display: inline-block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      line-height: 1;
      margin: 0;
      border: 20px $font-color solid;
      background-color: $main-color;
    }
  }
  .header-blank {
    flex-basis: 100%;
    height: 0;
  }
  .header-nav {
    padding-top: 20px;
    flex-basis: auto;
    pointer-events: painted;
    .nav-list {
      li {
        margin-bottom: 20px;
      }
      a {
        position: relative;
        display: block;
        padding: 8px 0;
        font-size: $fs-large;
        font-weight: 900;
        color: $font-color;
        &:before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 20px;
          height: 4px;
          background-color: $font-color;
        }
        &:hover {
          &:before {
            width: 60px;
          }
        }
      }
    }
    .user-action {
      a {
        display: block;
        font-size: $fs-regular;
        font-weight: 700;
        color: $font-color;
        padding: 5px 0;
        margin-bottom: 5px;
        &:hover {
          color: $point-color;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .header {
    position: relative;
    display: inline-block;
    padding: 20px 5%;
    margin: 0;
    box-sizing: border-box;
    z-index: 200;
    pointer-events: none;
    height: 95px;
    .header-logo {
      display: block;
      padding-top: 12px;
      .circle {
        display: inline-block;
        width: 40px;
        height: 40px;
        border-width: 15px;
      }
    }
    .header-blank {
    }
    .header-nav {
      position: absolute;
      top: 0;
      right: 5%;
      // background-color: $main-color;
      text-align: right;
      .nav-list {
        display: flex;
        padding: 10px 0;
        margin-right: -10px;
        li {
          padding: 10px;
          margin: 0;
        }
        a {
          position: relative;
          display: inline-block;
          padding: 8px 0;
          font-size: 1.6rem;
          font-weight: 900;
          color: $font-color;
          &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 4px;
            background-color: $font-color;
          }
          &:hover {
            &:before {
              width: 50px;
            }
          }
        }
      }
      .user-action {
        display: none;
        padding: 0 10px;
        a {
          padding: 0;
          margin-bottom: 10px;
          display: block;
          font-size: $fs-small;
          font-weight: 700;
          color: $font-color;
          &:hover {
            span {
              margin-right: 3px;
            }
          }
        }
      }
    }
  }
}

@keyframes menu-open {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes menu-close {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 800px) {
  .menu-bg {
    position: fixed;
    top: 30px;
    right: 20px;
    border-radius: 50%;
    display: block;
    width: 40px;
    height: 40px;
    transform: scale(1);
    transition-duration: .5s;
    &.menu-bg-1 {
      background-color: $main-color;
      z-index: 151;
    }
    &.menu-bg-2 {
      background-color: darken($main-color, 5%);
      z-index: 150;
    }
    &.is-active {
      &.menu-bg-1 {
        transform: scale(100);
      }
      &.menu-bg-2 {
        transform: scale(1000);
      }
    }
  }
}

.top-btn {
  cursor: pointer;
  position: fixed;
  bottom: 30px;
  right: 60px;
  z-index: 120;
  height: 90px;
  @media screen and (max-width: 800px) {
    display: none;
  }
  &:hover {
    height: 110px;
  }
  .btn-inner {
    width: 40px;
    height: 100%;
    position: relative;
  }
  .top-arrow {
    position: relative;
    height: 100px;
    width: 50px;
  }
  .top-arrow1 {
    position: absolute;
    top: 0;
  }
  .top-arrow2 {
    display: block;
    position: absolute;
    bottom: 20px;
    left: 15px;
    width: 3px;
    height: 50px;
    background-color: #000;
  }
  .top-arrow3 {
    display: block;
    font-size: $fs-small;
    font-weight: 900;
    position: absolute;
    bottom: 0;
    left: 5px;
  }
}

.page-title {
  position: fixed;
  left: 30px;
  bottom: 20px;
  color: $font-color;
  font-size: $fs-xxlarge;
  font-weight: 900;
  letter-spacing: -2px;
  line-height: 1.2;
  z-index: 100;
  @media screen and (max-width: 800px) {
    display: none;
  }
}

.admin-action {
  position: fixed;
  right: 150px;
  a {
    display: block;
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
    padding: 0 12px;
    border-radius: 50%;
    line-height: 60px;
    background-color: $point-color;
    text-align: center;
    span {
      font-size: $fs-small;
      font-weight: 500;
      color: white;
    }
    &:hover {
      background-color: $main-color;
    }
  }
}

// works
//---------------------------------------

.card-container {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  &.full-size {
    @media screen and (max-width: 800px) {
      margin: 0 -10px;
    }
  }
  @media screen and (max-width: 800px) {
    margin: 0 -5px;
  }
  * {
    line-height: 1.2;
  }
  a {
    display: block;
    color: $font-color;
    &:hover {
      .title {
        color: $point-color;
      }
    }
  }
  .card {
    box-sizing: border-box;
    width: 50%;
    padding: 20px;
    &.full-size {
      @media screen and (max-width: 800px) {
      width: 100%;
      padding: 10px;
      }
      .title {
        @media screen and (max-width: 800px) {
          font-size: $fs-regular;
          padding: 0 4%;
        }
      }
      .category {
        @media screen and (max-width: 800px) {
          font-size: 1.2rem;
          padding: 0 4% 10px;
        }
      }
    }
    @media screen and (max-width: 600px) {
      padding: 5px;
    }
    > a {
      position: relative;
      overflow: hidden;
      border: 1px #eee solid;
      border-radius: 8px;
      box-shadow: 0 2px 8px rgba(0,0,0,.1);
      &:hover {
        transform: translateY(-4px);
        box-shadow: 0 4px 16px rgba(0,0,0,.1);
      }
    }
    .card-inner {
      background-color: white;
    }
    .title {
      margin: 10px 0;
      padding: 0 20px;
      font-size: $fs-medium;
      line-height: 1.4;
      font-weight: 700;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      @media screen and (max-width: 800px) {
        font-size: 1.1rem;
        padding: 0 10px;
        margin: 10px 0 5px;
      }
    }
    .category-wrap {
    }
    .category {
      display: block;
      margin: 0;
      padding: 0 20px 20px;
      font-size: 1.2rem;
      font-weight: 400;
      position: relative;
      color: #999;
      @media screen and (max-width: 800px) {
        font-size: 1rem;
        padding: 0 10px 10px;
      }
    }
  }
}

.works-img {
  margin-bottom: 30px;
}

.content-title {
  font-size: 3rem;
  line-height: 1.4;
  font-weight: 900;
  margin: 15px 0;
  @media screen and (max-width: 800px) {
    margin: 10px 0;
    font-size: $fs-xlarge;
  }
}

.content-nav {
  display: block;
  position: fixed;
  bottom: 30px;
  left: 50%;
  padding: 0 10px;
  transform: translate(-50%, 0);
  text-align: right;
  overflow: hidden;
  z-index: 140;
  font-size: $fs-regular;
  line-height: 40px;
  border-radius: 20px;
  background-color: $point-color;
  box-shadow: 0 2px 8px rgba(0,0,0,.1), 0 4px 16px rgba(0,0,0,.1);
  text-align: center;
  a {
    font-weight: 700;
    display: inline-block;
    padding: 0 10px;
    color: white;
    &:hover {
      color: rgba(255,255,255,.6);
    }
    &.disable {
      color: rgba(255,255,255,.6);
      &:hover {
        color: rgba(255,255,255,.6);
      }
    }
  }
  @media screen and (max-width: 800px) {
    padding: 0 5px;
    line-height: 40px;
    border-radius: 20px;
    min-width: 220px;
    a {
      font-size: $fs-regular;
      padding: 0 10px;
    }
  }
}

.content-meta {
  display: inline-block;
  margin: 0 0 30px;
  font-size: 1.2rem;
  font-weight: 400;
  position: relative;
  color: #999;
  @media screen and (max-width: 800px) {
    margin-bottom: 20px;
  }
}

.content-description {
  margin-bottom: 40px;
  @media screen and (max-width: 800px) {
    margin-bottom: 20px;
    font-size: $fs-regular;
  }
}

// form
//---------------------------------------
.form-container {
  padding: 20px 10px;
  margin: 0 auto;
  width: 100%;
  &.login {
    max-width: 450px;
    // padding-top: 40px;
    @media screen and (max-width: 800px) {
      padding-top: 0;
      button {
        padding: 15px;
      }
    }
    p {
      margin-bottom: 40px;
    }
  }
  form {
    margin: -10px auto 0;
    label {
      display: block;
      font-size: $fs-medium;
      font-weight: 600;
      @media screen and (max-width: 800px) {
        font-size: $fs-regular;
      }
    }
    textarea {
      width: 100%;
      min-height: 300px;
      margin: 10px 0 40px;
      padding: 15px;
      border-radius: 4px;
      background-color: #e6e6e6;
      font-size: $fs-regular;
      font-weight: 500;
      line-height: 2;
      resize: none;
    }
    input[type="text"],
    input[type="password"],
    input[type="number"],
    select {
      width: 100%;
      border-radius: 4px;
      background-color: #e6e6e6;
      padding: 15px;
      margin: 10px 0 40px;
      font-weight: 600;
      letter-spacing: 2px;
      @media screen and (max-width: 800px) {
        padding: 10px 15px;
        margin-bottom: 20px;
        font-size: $fs-regular;
      }
    }
    input[type="checkbox"] {
      display: block;
      margin: 10px 0 20px;
      width: 20px;
      height: 20px;
      background-color: #eee;
      border-radius: 50%;
      position: relative;
      &:after {
        content: "";
        width: 10px;
        height: 10px;
        background-color: $point-color;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
      }
      &:checked {
        &:after {
          display: block;
        }
      }
    }
    input {
      &:last-of-type {
        margin-bottom: 40px;
        @media screen and (max-width: 800px) {
          margin-bottom: 30px;
        }
      }
    }
    .title-wrapper {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      .title-button {
        width: 150px;
        padding: 10px 15px;
        font-size: $fs-regular;
        border-radius: 4px;
        font-weight: 500;
        background-color: $point-color;
        color: white;
        text-align: center;
      }
    }
    .file-list {
      background-color: white;
      border: 2px #eee solid;
      border-radius: 8px;
      padding: 10px;
      margin: 20px 0 40px;
      height: 200px;
      overflow: auto;
    }
    .file-name {
      font-size: $fs-small;
      padding: 20px 40px 20px 10px;
      border-bottom: 1px solid #eee;
      height: 90px;
      position: relative;
      &:last-of-type {
        border: none;
      }
      img {
        width: 80px;
        height: 50px;
        position: absolute;
        top: 20px;
        left: 10px;
      }
      .file-path {
        display: block;
        padding: 0 0 0 90px;
        width: 100%;
      }
      .file-remove {
        position: absolute;
        padding: 20px 10px;
        top: 0;
        right: 0;
        color: $point-color;
      }
    }
  }
}

// notify-bar
//---------------------------------------
.notify-bar {
  position: absolute;
  top: 0;
  left: 50px;
  right: 50px;
  text-align: center;
  z-index: 9999;
  span {
    display: inline-block;
    background: $point-color;
    border-radius: 15px;
    height: 30px;
    padding: 0 15px;
    transform: translate(0, 30px);
    color: white;
    font-size: $fs-regular;
    font-weight: 700;
    line-height: 30px;
    @media screen and (max-width: 800px) {
      font-size: $fs-small;
      height: 24px;
      line-height: 24px;
    }
    &.notify-slide-in {
      animation: notify_slide_in .4s ease 0s 1 alternate forwards;
    }
    &.notify-slide-out {
      animation: notify_slide_out .4s ease 0s 1 alternate forwards;
    }
  }
}

@keyframes notify_slide_in {
  0% {
    transform: translate(0, -60px);
  }
  100% {
    transform: translate(0, 40px);
  }
}

@keyframes notify_slide_out {
  0% {
    transform: translate(0, 40px);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(0, -60px);
  }
}

@keyframes fuwafuwa {
  0% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}

@keyframes fuwafuwa_sp {
  0% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}

@keyframes fuwafuwa_kage {
  0% {
    width: 70px;
    opacity: 1;
  }
  100% {
    width: 100px;
    opacity: .8;
  }
}

@keyframes fuwafuwa_kage_sp {
  0% {
    width: 50px;
    opacity: 1;
  }
  100% {
    width: 80px;
    opacity: .8;
  }
}

// markdown style
.content {
  p,ul,ol {
    margin: 30px 0;
  }
  h1,h2,h3,h4,h5,h6 {
    margin: 40px 0 20px;
  }
  h1 {
    padding-bottom: 10px;
    border-bottom: #eee 2px solid;
  }
  a {
    color: $point-color;
    &:hover {
      color: $main-color;
    }
  }
  ul {
    padding-left: 24px;
    li {
      list-style:  disc;
      font-size: $fs-medium;
    }
  }
  ol {
    padding-left: 24px;
    li {
      list-style:  decimal;
      font-size: $fs-medium;
    }
  }
  blockquote {
    border-left: 4px #ccc solid;
    margin: 20px 0;
    padding: 5px 10px 5px 30px;
    p {
      color: #999;
    }
  }
  code {
    background-color: #eee;
    padding: .1em .4em;
    border-radius: 3px;
    color: #444;
  }
  .highlight {
    code {
      background-color: inherit;
    }
  }
}

@media screen and (max-width: 800px) {
  .content {
    p,ul,ol {
      margin: 20px 0;
    }
    h1,h2,h3,h4,h5,h6 {
      margin: 30px 0 20px;
      line-height: 1.4;
    }
    h1 {
      font-size: $fs-large;
    }
    h2 {
      font-size: $fs-medium;
    }
    h3 {
      font-size: $fs-regular;
    }
    h4 {
      font-size: $fs-regular;
    }
    p {
      font-size: $fs-regular;
    }
    ul,ol {
      li {
        font-size: $fs-regular;
      }
    }
  }
}

.category-list {
  margin-bottom: 50px;
  text-align: center;
  @media screen and (max-width: 800px) {
    margin-bottom: 20px;
  }
  a {
    margin: 0 3px;
    font-size: $fs-small;
    font-weight: 700;
    display: inline-block;
    background-color: $point-color;
    padding: 0 10px;
    color: white;
    line-height: 24px;
    border-radius: 15px;
    @media screen and (max-width: 800px) {
    }
    &:hover {
      background: $main-color;
    }
  }
}

.users-works_index,
.users-posts_index,
.users-index {
  .card-container {
    .card {
      width: 100%;
      border: none;
      padding: 10px 20px;
      background-color: white;
      border-radius: 4px;
      margin-bottom: 20px;
      box-shadow: 0 2px 8px rgba(0,0,0,.1);
      .title {
        padding: 0;
        font-size: $fs-regular;
        font-weight: 600;
      }
      .links {
        text-align: right;
        font-size: $fs-small;
        span {
          color: #999;
          vertical-align: 1px;
        }
        a {
          display: inline-block;
          color: $point-color;
          &:hover {
            color: $main-color;
          }
        }
      }
    }
    .add-card {
      display: block;
      width: 100%;
      background-color: $point-color;
      color: white;
      padding: 20px;
      text-align: center;
      border-radius: 4px;
    }
  }
}

.users-show {
  h1 {
    display: block;
    margin: 0 20px 20px 0;
  }
  .card-container {
    display: block;
    margin: 0;
    .card {
      display: block;
      width: 100%;
      margin: 0 0 20px;
      padding: 20px;
      color: white;
      background-color: $point-color;
      border-radius: 4px;
    }
  }
}



.content-wrap {
  background-color: white;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0 2px 8px rgba(0,0,0,.1);
  @media screen and (max-width: 800px) {
    background-color: white;
    padding: 4vw;
  }
}

.content-main-image {
  position: relative;
  overflow: hidden;
  &.round {
    border-radius: 8px;
  }
  &:after {
    width: 100%;
    padding-top: 60%;
    display: block;
    content: "";
    background-color: white;
  }
  img{
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 0;
    border: none;
    object-fit: cover;
  }
}

.top-keyvisual {
  position: relative;
  height: 500px;
  z-index: 10;
  &-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 240px;
    height: 240px;
    .logo {
      animation: fuwafuwa 2s ease-in-out 0s infinite alternate-reverse;
      @media screen and (max-width: 800px) {
        animation: fuwafuwa_sp 2s ease-in-out 0s infinite alternate-reverse;
      }
    }
    .logo_shadow {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, 30px);
      width: 50px;
      height: 10px;
      border-radius: 50%;
      background-color: #eaeaea;
      animation: fuwafuwa_kage 2s ease-in-out 0s infinite alternate-reverse;
      @media screen and (max-width: 800px) {
        transform: translate(-50%, 20px);
        animation: fuwafuwa_kage_sp 2s ease-in-out 0s infinite alternate-reverse;
      }
    }
    @media screen and (max-width: 800px) {
      width: 200px;
      height: 200px;
    }
  }

  @media screen and (max-width: 800px) {
    height: 240px;
    margin-bottom: 40px;
  }
}
.top-button {
  padding: 20px;
  @media screen and (max-width: 800px) {
    padding: 20px 0;
  }
}
.home-top.inner.wrapper {
  padding: 0 0 40px;
  button {
    margin-top: 20px;
  }
  @media screen and (max-width: 800px) {
    padding: 0 5%;
  }
}
.footer {
  display: block;
  position: relative;
  padding: 15px 0;
  text-align: center;
  z-index: 10;
  border-top: #eee solid 1px;
  small {
    color: #aaa;
    font-weight: 400;
  }
}
.top-block {
  padding: 20px;
  margin-bottom: 20px;
  &.about {
    h2 {
      font-size: 4rem;
      line-height: 1.4;
      letter-spacing: -1px;
      font-weight: 900;
      margin-bottom: .5em;
      @media screen and (max-width: 800px) {
        font-size: 2.4rem;
      }
    }
  }
  &.profile {
    margin-top: 60px;
  }
  &__inner {
    background: #fff;
    padding: 24px;
    border-radius: 20px;
  }
  @media screen and (max-width: 800px) {
    padding: 10px 0;
    margin-bottom: 10px;
    display: block;
    h3 {
      font-size: $fs-large;
    }
    &.about {
    }
    &.works,
    &.notes {
      margin: 0 0;
      padding: 40px 0;
      h2 {
        font-size: 5.6rem;
        margin-bottom: 30px;
      }
      .right {
        padding-top: 0;
        margin-left: 0;
      }
    }
  }
}
.skill-list {
  padding-top: 20px;
  span {
    display: inline-block;
    padding: 0 10px;
    margin: 0 6px 6px 0;
    border-radius: 12px;
    height: 24px;
    line-height: 24px;
    background: $point-color;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
  }
}
.job-list {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 5px 20px;
  @media screen and (max-width: 800px) {
    padding: 10px;
  }
  li {
    padding: 20px 0;
    border-bottom: 1px dashed #ddd;
    @media screen and (max-width: 800px) {
      padding: 10px;
    }
    &:last-child {
      border: none;
    }
  }
  .company {
    font-weight: 700;
    display: inline-block;
    width: 160px;
    @media screen and (max-width: 800px) {
      display: block;
      width: 100%;
    }
  }
  .job {
    color: #999;
    font-size: 1.2rem;
    display: inline-block;
  }
}
.wrapper {
  .profile-icon {
    margin: 0 auto;
    border: 2px #eee solid;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fff;
    padding: 15px;
    img {
      border: none;
    }
  }
  .profile-name {
    font-weight: 900;
    padding: 10px;
    text-align: center;
    span {
      font-size: 1.2rem;
      font-weight: 400;
      color: #999;
      display: block;
    }
  }
}
.about-main_image {
  margin-bottom: 30px;
  border: 1px #eee solid;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  @media screen and (max-width: 800px) {
    margin-bottom: 20px;
  }
  &:after {
    content: '';
    display: block;
    width: 100%;
    padding-top: 60%;
    background-color: #f5f5f5;
  }
  img {
    position: absolute;
    border-radius: 0;
    border: none;
    width: 100%;
    height: 100%;
    @media screen and (max-width: 800px) {
      transform: scale(1.2);
    }
  }
}
