div.highlight {
  overflow: hidden;
  background-color: #fff;
}
.highlight.plaintext {
  border-radius: 8px;
  padding: 15px 20px;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: #666;
  code {
    padding: 0;
    color: white;
    font-weight: normal;
  }
}

// div.highlight {
//   line-height: 1.8;
//   padding: 15px 20px;
//   margin: 0;
//   background-color: #444;
//   > pre {
//     padding: 10px;
//     margin: 0;
//     background-color: inherit;
//     overflow-x: auto;
//   }
//   .k { color: #ebd247; }
//   .nc { color: #8bdf4c;}
//   .no { color: #ebd247;}
//   .nx { color: #8bdf4c; }
//   .nl { color: #e3e3e3; }
//   .n { color: #e3e3e3; }
//   .ss { color: #41b7d7; }
//   .c1 { color: #9dabae; }
//   .mi { color: #a980f5; }
//   .m { color: #a980f5; }
//   .p { color: #e3e3e3; }
//   .nd { color: #8bdf4c; }
//   .mh { color: #a980f5; }
// }
